.border-button{
    width: 100px;
    background-color: #47BBC6;
    border: 1px solid white;
    color: white;
    border-radius: 1px;
}

.navbar-button {
    border: none;
    background-color: white;
    color: gray;
}